
#popup {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute; 
  z-index: 1000;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  pointer-events: none;

}

#canvas{
 background-color: rgba(255, 255, 255, 0.0);
 /* width: 500px */
}

#vline {
  position: absolute; 
  z-index: 1000;
  border-left: 2px solid green;
  height: 100px;
  pointer-events: none;


}
